* {
    padding: 0;
    margin: 0;  
    /* overflow: hidden; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

section {
    width: 100%;
    height: 100vh;
}

/* Header */

.headBanner {
    padding-top: 90px;
    text-align: center;
    padding-bottom: 50px;
    background: rgb(34, 36, 39);
    background: linear-gradient(166deg,
            rgba(34, 36, 39, 1) 48%,
            rgba(5, 9, 14, 1) 100%);
}

.headBanner h1 {
    padding-top: 20px;
    color: rgb(228, 228, 228);
}

.headBanner h3 {
    color: rgb(139, 139, 139);
}

.textB {
    padding-top: 30px;
}

/* navbar */

.navbar-item {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-collapse a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}

.navbar-collapse a:hover  {
    border-bottom: 2px solid #EDDC5A;
    transition: 0.3s ease-in-out ;
    background-color: #393939;
    padding: 5px;
    border-radius: 5px;
}

.navbar-collapse a[aria-current="page"]  {
    border-bottom: 2px solid #EDDC5A;
    padding-bottom: 2px;
    
}

.navbar-collapse {
    width: auto;
}

.navbar.dark-bg .navbar-text {
    color: white;
}

nav {
    transition: background-color 0.3s ease-in-out;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.897);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 2px 2px 3px 1px rgb(41, 41, 41);
}

.navbar-toggler {
    border: none;
}

.navbar.scrolled {
    background-color: rgba(206, 206, 206, 0);
    box-shadow: none;
}



/* End navbar */

.p1 {
    background-color: rgb(194, 194, 194);
    height: 100%;
    padding: 80px;
}

.p2 {
    background-color: rgb(125, 125, 125);
    height: 100%;
    padding: 80px;
    color: white;
}

.p3 {
    background-color: rgb(151, 151, 151);
    height: 100%;
    padding: 80px;
    color: white;
}

.p4 {
    height: 100%;
    padding: 80px;
    color: white;
    background-color: rgb(112, 112, 112);
}

header.sticky a {
    color: white;
    /* Cambia esto al color que prefieras */
}

.button-up {
    color: #ffffff;
    /* padding-left:7%; */
    align-items: center;
    padding-left: 5%;
}

footer {
    background-color: #000000;
}