* {
    padding: 0;
    margin: 0;  
    /* overflow: hidden; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* Header */

.bannerIndex {
    background-image: url("../resources/bannerIndex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: all .25s ease-in;
}

.arrow-container {
    position: fixed;
    bottom: 15px; /* Establece el padding-bottom a 15 píxeles */
    right: 5%;
    transform: translateX(-50%);
  }

.centerimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerimg img {
    width: 550px;
    transition: all .2s ease-in;
}

.bannerIndex h1 {
    font-size: 15vw;
    text-align: center;
} 

.bannerIndex h2 {
    font-size: 3vw;
    text-align: center;
} 

/* navbar */

.navbar-item {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.container-fluid {
    padding-left: 60px;
    padding-right: 60px;
}

.navbar-collapse a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}

.navbar-collapse a:hover  {
    border-bottom: 2px solid #EDDC5A;
    transition: 0.3s ease-in-out ;
    background-color: #393939;
    padding: 5px;
    border-radius: 5px;
}

/* .navbar-collapse a[aria-current="page"]  {
    border-bottom: 2px solid #EDDC5A;
    padding-bottom: 2px;
    
} */

.navbar-collapse {
    width: auto;
}

.navbar.dark-bg .navbar-text {
    color: white;
}

nav {
    transition: background-color 0.3s ease-in-out;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.scrolled {
    background-color: rgba(255, 0, 0, 0);
    box-shadow: 0px 1px 3px 1px rgb(44, 44, 44);
}


/* .inicio-style {
    border-bottom: 1px solid #EDDC5A;
    border-radius: 3px;
} */
/* End navbar */

/*Main nosotros inicio*/

.text-primary {
    color: #EDDC5A !important;
}

.text-secondary {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    color: #F5F5F5 !important;
}

.about-item {
    background: #2c2929;
    transition: .5s;
    padding: 10px;
    margin: 10px;
    height: 280px
}


.about-item:hover {
    margin-top: -10px;
    background: #15161a;
}

.about-item * {
    transition: .5s;
} 

.about-item:hover * {
    color: var(--light) !important;
}

/*Main nosotros final*/

/*Contacto start*/
.icon i{
    background: #EDDC5A;
    color: #ffffff !important;
    font-size: 30px;
    padding: 5px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    border:3px solid #fff;
    -webkit-box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.4);
    box-shadow:inset 0 0 15px 0 rgba(0,0,0,0.4);
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    /* position: absolute; */
    /* left: -30px;
    top: 7.5px; */
    
    }
.rotate i{
    transform:rotate(90deg);
}
/*Contacto finish*/

.p1 {
    background-color: rgb(194, 194, 194);
    height: 100%;
    padding: 80px;
}

.p2 {
    background-color: rgb(125, 125, 125);
    height: 100%;
    padding: 80px;
    color: white;
}

.p3 {
    background-color: rgb(151, 151, 151);
    height: 100%;
    padding: 80px;
    color: white;
}

.p4 {
    height: 100%;
    padding: 80px;
    color: white;
    background-color: rgb(112, 112, 112);
}

.button-up {
    color: #ffffff;
    /* padding-left:7%; */
    align-items: center;
    padding-left: 15px; 
}

footer {
    background-color: #000000;
}

/* INICIO */
.sec1 {
    background-color: #000000;
}

.abUs h1 {
    padding: 50px 10px 10px 10px;
    text-align: center;
}

.abUsHr {
    width: 50%;
    margin: auto;
    border-width: 10px;
    border-radius: 5px;
    color: #F5F5F5;
}

.auFirstP {
    text-align: justify;
    color: #E0E0E0;
    padding-top: 20px;
    margin: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.auFirstP h3 {
    text-align: center;
}

.auFirstP p {
    font-size: large;
    text-align: center;
    padding: 50px;
    text-align: justify;
}

.inImg {
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
  }
  
  .centered-image {
    max-width: 80%;
    height: auto;
  }

.auFirstP a {
    color: #EDDC5A;
    display: flex;
    text-decoration: none;
    transition: 0.3s ease-in ;
    display: flex;
    justify-content: center;
}

.auFirstP a:hover {
    color: E0E0E0;
    text-decoration:underline;
    font-size: larger;
    transition: 0.3s ease-in-out ;
}

.serSec h5 {
   color: #EDDC5A;
}

.serSec .about-item {
    background-color: #141414;
    color: #E0E0E0;
}

.serSec .about-item:hover {
    background-color: #000000;
}

.serSec h3 {
    color: #F5F5F5;
    text-align: center;
}

#aiInicio {
    background-color: #191717;
    height: 250px;
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ServLink {
    color: #EDDC5A;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    transition: 0.3s ease-in;
}

.ServLink:hover {
    transition: ease-in-out 0.3s ;
    text-decoration: underline;
    color: #000000;
}
/* FIN INICIO */

@media (max-width: 555px) {
    .centerimg img {
        width: 250px;
        padding-bottom: 10px;
        transition: ease-in-out .2s all;
    }

    .bannerIndex {
        transition: all .25s ease-in-out ;
    }
}
