@font-face {
  font-family: 'bebas_neueregular';
  src: url('../resources/Fonts/bebasneue-regular-webfont.woff2') format('woff2'),
       url('../resources/Fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
* {
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/* Header */

.bannerIndex {
  background-image: url("../resources/bannerIndex.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 0.25s ease-in;
}

.bannerIndex p {
  letter-spacing: 1px;
  font-family:'bebas_neueregular', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.arrow-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  right: 45px;
  bottom: 45px;
  transform: translateX(-50%);
  z-index: 999;
  animation: action 1s infinite alternate;
  opacity: 0;
}

@media (max-width: 767px) {
  .bannerIndex p {
    font-size: 10px;
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.back-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #000000;
  border-color: #eddc5a;
}

.invisible {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none; /* Opcional: para que los elementos invisibles no reciban eventos */
}

.visible {
  opacity: 1;
  transition: opacity 5s ease;
  pointer-events: auto; /* Opcional: restaura los eventos en elementos visibles */
}

.centerimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerimg img {
  width: 550px;
  transition: all 0.2s ease-in;
}

.bannerIndex h1 {
  font-size: 13.5vw;
  text-align: center;
  padding: 0;
  font-weight: bold;
 
}

.bannerIndex h2 {
  font-size: 3vw;
  text-align: center;
  padding-bottom: 20px;
}

.hr hr{
  width: 80%;
  margin: auto;
  color: rgb(255, 255, 255);
  opacity: 100%;
  border-width: 3px;
  border-radius: 20px;
}


/* navbar */

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 10px;
}

.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}

.navbar-collapse a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}

.navbar-collapse a:hover {
  border-bottom: 2px solid #eddc5a;
  transition: 0.3s ease-in-out;
  background-color: #393939;
  padding: 5px;
  border-radius: 5px;
}

/* .navbar-collapse a[aria-current="page"]  {
    border-bottom: 2px solid #EDDC5A;
    padding-bottom: 2px;
    
} */

.navbar-collapse {
  width: auto;
}

.navbar.dark-bg .navbar-text {
  color: white;
}

nav {
  transition: background-color 0.3s ease-in-out;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.navbar-toggler {
  border: none;
}

/* Estilo por defecto del navbar */
.navbar {
  background-color: transparent; /* Color de fondo inicial */
  transition: background-color 0.5s ease; /* Transición suave */
}

/* Estilo del navbar al hacer scroll */
.navbar.scrolled {
  background-color: #000000;
  border-bottom: 1px solid #eddc5a;
  transition: background-color 0.5s ease-in-out;
}

.active {
  border-bottom: 1px solid #eddc5a;
  border-width: 3px;
  border-radius: 2px;
}

/* End navbar */

/*Main nosotros inicio*/

.text-primary {
  color: #eddc5a !important;
}

.text-secondary {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  color: #f5f5f5 !important;
}
.about-text{
  font-weight: bold;
  font-size: 3.5vw;
}
.about-image {
  border-radius: 8px;
  box-shadow: 0 0 32px #333;
  transition: all 1.5s ease;
}

.about-item {
  /* background: #2c2929;
  border-radius: 30px;
  box-shadow: 0 0 16px #333;*/
  padding: 5px;
  margin: 5px;
  height: 280px; 
  border-radius: 30px;
  transition: all ease-in 1s;
  background: linear-gradient(145deg, #2e2e2e, #373737);
  box-shadow:  10px 10px 12px #141414,
               -10px -10px 12px #525252;
}


/*Main nosotros final*/

/*Contacto start*/
.icon i {
  background: #eddc5a;
  color: #ffffff !important;
  font-size: 30px;
  padding: 5px;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  border: 3px solid #fff;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 15px 0 rgba(0, 0, 0, 0.4);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  /* position: absolute; */
  /* left: -30px;
    top: 7.5px; */
}
.rotate i {
  transform: rotate(90deg);
}
/*Contacto finish*/

.button-up {
  color: #ffffff;
  /* padding-left:7%; */
  align-items: center;
  padding-left: 15px;
}

/* Inicio */

/* Nosotros */
.nosotrosSec {
  padding: 50px;
  background-image: url("../resources/nosotrosBan.png");
  background-blend-mode: overlay;
  background-color: #2c2929;
  background-size: cover;
}

.nosotrosSec h3 {
  background-color: #15161a9f;
  margin: 50px;
  padding: 10px;
  text-align: center;
}

/* Servicios */

.flip-container {
  perspective: 1000;
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  border-radius: 30px;
}

.flip-container:hover .flipper,
.flip-container:hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  padding: 50px;
  margin: 10px;

  margin: auto;
  border-radius: 30px;
  width: 100%;
  box-shadow:  -12px -12px 24px #2a2a2a,
             12px 12px 24px #a6a6a6;
  height: 100%;
  padding: 20px;
  background-color: #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flipper i {
  font-size: 80px;
  text-shadow: 5px 5px 5px rgb(73, 73, 73);
}

.front,
.back {
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 30px;
}

.front {
  z-index: 2;
  
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #d8d8d8;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border-radius: 30px;
  color: black;
  box-sizing: border-box;
  text-align: center;
  padding: 30px;
}

.back h4 {
  text-align: center;
  color: #eddC5A;
  text-shadow: 1px 1px 1px #000000 ;
}

.servImages .col-lg-3 {
  padding: 0;
}

.servImages .flip-container {
  height: 213px;
  width: 100%;
}

.servImages .flip-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.serviciosSec {
  padding: 50px;
  background-color: #686868;
}

h2 {
  padding: 10px;
  color: #eddC5A;
  padding-bottom: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 55px;
  transition: all ease-in .25s;

}

.servImages img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.back-title {
	font-weight: bold;
	color: #00304a;
	/* position: absolute; */
	/* top: 180px;
	left: 0;
	right: 0; */
	text-align: center;
	/* text-shadow: 0.1em 0.1em 0.05em #acd7e5; */
    filter: drop-shadow(20px 20px 20px 80px rgb(255, 255, 255));
    top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;

	font-family: Courier; 
	font-size: 2em;
}

.back p {
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
  font-family: arial;
  line-height: 2em;
} */

.card {
  width: 190px;
  height: 254px;
  border-radius: 30px;
  background: lightgrey;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.styleBtn {
  margin-top: 40px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.styleBtn:hover {
  background-color: #eddC5A;
  box-shadow: 0px 15px 20px rgba(41, 39, 12, 0.4);
  color: #000000;
  font-weight: bold;
  transform: translateY(-7px);
}

.styleBtn:active {
  transform: translateY(-1px);
}

/* Portafolio */

.portafolioSec {
  padding: 40px;
  color: #ffffff;
  background-color: #757474;
}

.portafolioSec button {
  display: flex;
  align-items: center;
  justify-content: center;

}

.portafolioSec h2 {
  /* padding: 10px; */
  text-align: center;
  color: #eddC5A;
  font-weight: bold;
}


.work-with img:hover {
  transform: scale(1.2, 1.2);
  transition: all ease-in-out 0.5s;
}

.company-list {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  border-radius: 30px;
  background: linear-gradient(315deg, #7d7c7c, #696868);
  box-shadow:  -28px -28px 56px #2f2e2e,
               28px 28px 56px #bbbaba;
}

.company-logo {
  width: 100px;
  height: 100px;
  transition: all ease-in 1s;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 10px;
}

.company-name {
  text-align: center;
  margin-top: 0.5em;
}

/* FIN INICIO */


/* Footer */

footer {
  background-color: #000000;
}

.arrow-container:hover {
  background-color: #eddc5a;
  color: black;
  transition: all ease-in-out 0.2s;
  border-color: #000000;
}

.arrow-container {
  transition: all ease-in 0.2s;
}

/* Medias Querys */

@media (max-width: 1024px) {
   h2 {
    font-size: 40px;
    transition: all ease-in-out .25s;
  }
}
@media (max-width: 768px) {
   h2 {
    font-size: 35px;
    transition: all ease-in-out .25s;
  }
}
@media (max-width: 555px) {
  .centerimg img {
    width: 250px;
    padding-bottom: 10px;
    transition: ease-in-out 0.2s all;
  }
  
  .bannerIndex {
    transition: all 0.25s ease-in-out;
  }
  
   h2 {
    font-size: 35px;
    transition: all ease-in-out .25s;
  }
}