<footer class="py-5">
    <div class="container-fluid">
      <a class="d-flex nav-link px-2 text-body-secondary">
        <img src="resources/ArcasLogo.png" width="80" alt="Logo de Arcas">
      </a>

      <ul class="nav justify-content-center border-bottom pb-3 mb-3 pl-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Inicio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Nosotros</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Servicios</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Portafolio</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Contacto</a>
        </li>
      </ul>
      <p class="text-center text-muted">© 2024 Arcas Technologies, Guadalajara, Jalisco. Mexico </p>
      <div class="arrow-container rounded-circle" id="back-top">
        <a href="#" class="btn border-1 rounded-circle back-to-top">
          <i class="fa-solid fa-caret-up fa-beat-fade fa-2xl"></i></a>
      </div>
    </div>

      
  </footer>



