<header>
  
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <div class="">
          <a class="navbar-brand" href="#Inicio">
            <img src="resources/ArcasLogoS.png" width="80" alt="Logo de Arcas">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item px-4 py-2">
              <a href="index.html" id="inicioNavLink">Inicio</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="nosotros.html" class="nosotros">Nosotros</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="servicios.html" class="servicios">Servicios</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="portafolio.html" class="portafolio">Portafolio</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="contacto.html" class="contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  