<header>
  
    <nav class="navbar navbar-expand-lg fixed-top">
      <div class="container-fluid">
        <div class="">
          <a class="navbar-brand" href="#Inicio">
            <img src="resources/ArcasLogoS.png" width="80" alt="Logo de Arcas">
          </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-lg-0">
            <li class="nav-item px-4 py-2">
              <a aria-current="page" href="index.html">Inicio</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="nosotros.html">Nosotros</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="servicios.html">Servicios</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="portafolio.html">Portafolio</a>
            </li>
            <li class="nav-item px-4 py-2">
              <a href="contacto.html">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="headBanner">
      <h1>ARCAS</h1>
      <h3>TECHNOLOGIES AND SYSTEMS</h3>
      <div class="container">
        <div class="row row-cols-md-4 row-cols-2 text-center textB ">
          <div class="g-col-3 ">
            <h6>Diseño 3D/2D</h6>
          </div>
          <div class="g-col-3">
            <h6>Escaneo 3D</h6>
          </div>
          <div class="g-col-3">
            <h6>Impresion 3d</h6>
          </div>
          <div class="g-col-3">
            <h6>Maquinado Industrial (CNC)</h6>
          </div>
        </div>
        
      </div>
    </div>

  </header>

  